<script>
  window.Papercups = {
    config: {
      accountId: 'e4bd7474-9eb3-490e-960a-f62dc109de58',
      title: 'Welcome to Spcmn',
      subtitle: 'Ask us anything in the chat window below 😊',
      primaryColor: '#ff6900',
      baseUrl: 'https://app.papercups.io'
    },
  };
</script>
<script
  type="text/javascript"
  async
  defer
  src="https://app.papercups.io/widget.js"
></script>
<header class="header">
    <a href="/" class="logo iconlink">

        {{ meta.title }}
             <div>
         <a href="/" class="notification">Home   
         <a href="https://invoiceservice.spcmn.uk/" class="button">Invoices    
    </a>
</header>
