<!DOCTYPE html>
<html class="no-js" lang="{{ meta.lang }}">
  <!-- START PAPERCUPS CHAT -->
<script>
  window.Papercups = {
    config: {
      accountId: 'e4bd7474-9eb3-490e-960a-f62dc109de58',
      title: 'Welcome to Kris',
      subtitle: 'Ask us anything in the chat window below 😊',
      primaryColor: '#ff6900',
      baseUrl: 'https://app.papercups.io'
    },
  };
</script>
<script
  type="text/javascript"
  async
  defer
  src="https://app.papercups.io/widget.js"></script>
 <!-- END PAPERCUPS CHAT -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{%- if title -%}{{ title }} | {{ meta.title }}{%- else -%}{{ meta.title }}{%- endif -%}</title>
        {%- set css -%}{% include "inline-css.njk" %}{%- endset -%}
        <style>{{ css | cssmin | safe }}</style>

        {% include "meta.njk" %}
    </head>
    <body class="site">
        {% include "notification.njk" %}

        {% include "header.njk" %}
        <main class="main">{{ content | safe }}</main>
        {% include "footer.njk" %}

        {% if build.env === 'production' %}
        <script src="{{ '/static/scripts/offline.js' | url }}" async defer></script>
        {% endif %}
    </body>
</html>
